<h2>YEAH! CHECK OUT THOSE BANDS!</h2>

<ul>
  <% @bands.each do |band| %>
    <li><a href="/band/<%= band.id %>"><%= band.name %></a></li>
  <% end %>
</ul>

<h3>Add another band to the form below:</h3>

<form action="/add_band" method="post">
  <label for="band_name">Enter the band name:</label>
  <input id="band_name" name="band_name" type="text">
  <button type="submit">add that band!</button>
</form>
